#preview {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  .previw-camera {
    position: relative;
    border: 3px solid #3e4357;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    margin-top: 5px;
  }
  
  #preview {
    min-width: 100%;
    min-height: 100%;
    transition: transform 0.8s;
  }
  #cameras{
      display: flex;
      flex-direction: column;
  }
  #cameras > button{
      margin: 5px
  }